* {
    box-sizing: border-box;
    font-family: sans-serif;

  }.header2 {
    list-style: none;
    margin-left: 0;
    padding-left: 350px;
    overflow: hidden;
    background-color: #0c356a;
  }
  .header {
    margin: -15px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
  
    padding: 25px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
    background-color: rgb(103, 158, 206);
  }
  
  .b1 {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 300px;
    border: 3px solid lightblue;
  }
  .b1 a {
    text-decoration: none;
    color: #0c356a;
  
    font-weight: bold;
  }
  
  .b1:hover {
    background-color: #cee2fc;
  }
  .b2 {
    margin-left: 700px;
    margin-top: -25px;
  
    font-size: 14px;
  }
  .b2 a {
    color: white;
  }

  .hhe{
    margin-left:80px;
    margin-top: 70px;
  }
  #chatList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.clientName {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clientName:hover {
    background-color: #2980b9;
}

.projectBox{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 350px;
    margin: 20px;
}

#requestedProjects,#ActiveProjects{
display: flex;
flex-wrap: wrap;

}
